
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Poppins', sans-serif;
}





@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "tailwindcss";
@plugin "daisyui"{
    themes: ligth --default
};
@plugin "daisyui/theme" {
  name: "light";
}