

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "tailwindcss";
@plugin "daisyui"{
    themes: ligth --default
};
@plugin "daisyui/theme" {
  name: "light";
}